@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Funnel+Display:wght@300..800&display=swap");

@import "tailwindcss";

body {
  font-family: "Funnel Display", sans-serif;
  background: #f7f7f7;
  color: #000000;
}

.cormorant {
  font-family: "Cormorant Infant", serif;
}
